$yellow: #fffa19;
$red: #ea0e32;
$green: #0c4f0a;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin jumbotron($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    padding: 50px 0px;
    color: $green;
}

.jumbotron {
    background-color: $yellow;
	@include jumbotron(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background: $red;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 250px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;   
}
.modal-contacto {
    padding: 30px 0 30px 0;
}