.jumbotron {
  background-color: #fffa19;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 50px 0px;
  color: #0c4f0a; }

footer {
  padding: 10px 10px 0 10px;
  background: #ea0e32;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.modal-contacto {
  padding: 30px 0 30px 0; }

/*# sourceMappingURL=styles.css.map */
